<?xml version="1.0" encoding="UTF-8"?>
<project name="ice-framework" default="phpunit">

	<target name="phpunitsetup" depends="">
		<copy todir="./build/test">
			<fileset dir="test">
				<include name="*.*" />
				<include name="**/*.*" />
			</fileset>
		</copy>
	</target>

	<target name="phpunit" depends="phpunitsetup">
		<coverage-setup database="./build/coverage/coverage.db">
			<fileset dir="src">
				<include name="*.php" />
				<include name="**/*.php" />
				<exclude name="index.php"/>
			</fileset>
		</coverage-setup>

		<phpunit haltonfailure="true" haltonerror="true" haltonskipped="true" printsummary="true" codecoverage="true">
			<formatter todir="build/coverage" type="xml" outfile="utiltest.xml"/>

			<batchtest>
				<fileset dir="./build/test">
					<include name="*Test.php" />
				</fileset>
			</batchtest>
		</phpunit>
		
		<coverage-report outfile="./build/coverage/coverage.xml">
			<report todir="./build/coverage" />
		</coverage-report>
		
		<coverage-threshold perProject="0" perClass="0" perMethod="0"/>
	</target>
	
</project>