<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h3>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h3>
      <div class="social-buttons">
      <a href="{{ site.social.github }}" target="_blank"><i class="fa fa-github-alt fa-inverse"></i></a>
      &nbsp;
      <a href="{{ site.social.linkedin }}" target="_blank"><i class="fa fa-linkedin fa-inverse"></i></a>
      </div>
      
      
      
      <p class="lead" style="font-size: 0.8rem;">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
      
      
      {% for section in site.data.docs %}
    	<h4>{{ section.title }}</h4>
    	
    	{% for item in section.docs %}
		  {% assign item_url = item |prepend:"docs/"| prepend:site.baseurl | append:"/" %}
		
		  {% for p in site.docs %}
		    {% if p.url == item_url %}
		      <a class="sidebar-nav-item{% if page.url == item_url %} active{% endif %}" href="{{item_url}}">{{ p.title }}</a>
		    {% endif %}
		 {% endfor %}

		{% endfor %}
      {% endfor %}
      
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
