<div class="sidebar">
  <input id="searchBox" type="text" placeholder="Search.." style="width:100%;"/>
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      
      <br/>
      <br/>
      <div style="width: 140px;
				height: 140px;
				border-radius: 70px;
				-webkit-border-radius: 70px;
				-moz-border-radius: 140px;
				background: url({{ site.author.image }}) no-repeat;"></div>
	
      <h3>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h3>
      <div class="social-buttons">
      <a href="{{ site.social.twitter }}" target="_blank"><i class="fa fa-twitter fa-inverse"></i></a>
      &nbsp;
      <a href="{{ site.social.github }}" target="_blank"><i class="fa fa-github-alt fa-inverse"></i></a>
      &nbsp;
      <a href="{{ site.social.linkedin }}" target="_blank"><i class="fa fa-linkedin fa-inverse"></i></a>
      &nbsp;
      <a href="{{ site.social.facebook }}" target="_blank"><i class="fa fa-facebook fa-inverse"></i></a>
      </div>
      
      
      
      <p class="lead" style="font-size: 0.8rem;">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.posts %}
      {% for node in pages_list %}
        {% if node.title != null %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endfor %}
      
    </nav>
  </div>
</div>
